{
    "presets": [ "@babel/preset-env", "@babel/preset-react" ],
    "plugins": [
        ["module-resolver", {
            "alias": {
                "models": "./src/backend/models",
                "controllers": "./src/backend/controllers",
                "config": "./config",
                "Assets": "./src/backend/assets",
                "Routes": "./src/backend/routes"
            }
        }],
        ["@babel/plugin-proposal-class-properties"],
        ["@babel/plugin-transform-runtime"],
        ["@babel/plugin-transform-spread", { "loose": true }]
    ]
}