{
    "presets": [ "env", "react-app" ],
    "plugins": [
        ["module-resolver", {
            "alias": {
                "models": "./src/backend/models",
                "controllers": "./src/backend/controllers",
                "config": "./config",
                "Assets": "./src/backend/assets",
                "Routes": "./src/backend/routes"
            }
        }]
    ]
}