{
  "globals": {
    "Promise": true,
    "document": "readonly",
    "window": "readonly",
    "localStorage": "readonly"
  },
  "env": {
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 0
  }
}