@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto');

$cream-color: #e8e3d3;
$uw-purple: #4b2e83;

body {
    background-color: $cream-color;
}
#root {
    margin-bottom: 20px;

    .pageWrapper {
        display: grid;
        grid-column-gap: 0;
        height: 100vh;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 55px 1fr 55px;
        grid-row-gap: 20px;
    }

    nav {
        grid-area: 1 / 1 / 2 / 4;
    }

    main {
        grid-area: 2 /2 / 3 / 3;
        background-color: white;
        padding: 20px;
    }

    footer {
        grid-area: 3 / 1 / 4 / 4;
    }

    .configForm {
        .configLabel {
            width: 120px;
            margin: 4px 0 4px 20px;
            display: inline-block;
        }

        .configLabel:after {
            content: ": ";
        }

        .configInput {
            width: 300px;
        }

        .submitButton {
            margin-top: 20px;
        }
    }

    h1, h2 {
        color: $uw-purple;
        display: block;
    }

    h1 {
        font-size: 37px;
    }

    h1, h2, h3 {
        margin-top: 29px;
        margin-bottom: 14.5px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Encode Sans Compressed",sans-serif;
        font-weight: 800;
        line-height: 1.3;
    }

    .righted {
        float: right;
    }

    .buttonize {
        background-color: $uw-purple !important;
    }
}

button div div {
    color: white;
    padding: 0 0 2px 1px;
}