@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$cream-color: #e8e3d3;
$uw-purple: #4b2e83;

body {
    background-color: $cream-color;
    font-family: "Open Sans",sans-serif;
}
strong {
    font-weight: 600;
}
#root {
    margin-bottom: 20px;

    .pageWrapper {
        display: grid;
        grid-column-gap: 0;
        height: 100vh;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 55px 1fr 55px;
        grid-row-gap: 20px;
    }

    nav {
        grid-area: 1 / 1 / 2 / 4;
    }

    main {
        grid-area: 2 /2 / 3 / 3;
        background-color: white;
        padding: 20px;
        max-width: 800px;
    }

    footer {
        grid-area: 3 / 1 / 4 / 4;
    }

    .configForm {
        .configLabel {
            width: 120px;
            margin: 4px 0 4px 20px;
            display: inline-block;
        }

        .configLabel:after {
            content: ": ";
        }

        .configInput {
            width: 300px;
        }

        .submitButton {
            margin-top: 20px;
        }
    }

    p {
        font-size: 17px;
        line-height: 1.72222;
        margin: 0 0 14.5px;
        font-weight: 400;
        color: #3d3d3d;
    }

    h1, h2 {
        color: $uw-purple;
        display: block;
    }

    h1 {
        font-size: 37px;
    }

    h1, h2, h3 {
        margin-top: 16px;
        margin-bottom: 14.5px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Encode Sans Compressed",sans-serif;
        font-weight: 800;
        line-height: 1.3;
    }

    .righted {
        float: right;
    }

    .buttonize {
        background-color: $uw-purple !important;
    }
    .registrationTable {
        display: grid;
        grid-template-columns:75% 25%;
    }
    .endRegistration {
        margin-top: 22px;
        margin-bottom: 10.5px;
        
    }

    .welcomeHeader h1 {
        margin-top: -70px;
        padding:10px;
        color:white;
    }

    .welcomeTable { 
        display: grid;
        grid-template-columns:75% 25%;
    }

    .welcomeRight { 
        text-align:right;
    }

    .background {
        max-width: 100%;
        height: auto;
    }

    .subgroupList {
        margin-bottom: 20px;
    }
    .subgroupTable{
        display:grid;        
    }
    .subgroupName {
        min-width: 320px;
        padding-left: 10px;
    }
    .subgroupItem {
        display: grid;        
        grid-template-columns:50% 50%;
        margin: 3px 5px 0 5px;
        height: 2.5em;
        line-height: 2.4em;
        border-radius: 5px;
        &.selected {
            background-color: #eee;
        }
    }
    .subgroupButtons {
       text-align: right;
        button {
            width: 100px;
            margin: 0 2px;
        }
    }
    .newSubgroup {
        width: 300px;
        margin-right: 10px;
    }
    .memberDeleting {
        background-color: indianred;
        opacity: 0.4;
    }
    .loadSpinner {
        margin-right: 5px;
    }
    .registrationNotification {
        display: inline-block;
        padding: 10px;
        background-color: lightgoldenrodyellow;
        border-radius: 10px;
    }
    .padLeft {
        padding-left: 3px;
    }
}