{
	"port": 1111,
	"bodyLimit": "100kb",
	"corsHeaders": ["Link"],
	"idcardToken": "",
	"pwsToken": "",
	"certificate": "src/cert.pfx",
    "passphrase": "",
	"idcardBaseUrl": "https://wseval.s.uw.edu/idcard/v1/card.json",
	"pwsBaseUrl": "https://wseval.s.uw.edu/identity/v2/person/",
	"photoBaseUrl": "https://wseval.s.uw.edu/idcard/v1/photo/",
	"groupsBaseUrl": "https://groups.uw.edu:7443/group/",
	"groupAdmins": ["admin"],
    "groupDisplayName": "UW Registration POC",
	"groupDescription": "This a test group for UW Registration POC",
	"groupNameBase": "uw_ais_sm_ews_idcardpoc_",
	"groupNameLeaf": "test",
	"enableRegisterAPI": true,
    "enableGroupsAPI": false,
    "enablePWSAPI": false,
    "enableIDCardAPI": false    
}